*~
#*#
*.mo
*.orig
*.bak
*.tdy
*.ctags
*.vstags
models/*/*.tgz
tex/sample-*.pdf

AMC-buildpdf
AMC-detect
AMC-pdfformfields
AMC-gui-apropos.glade
AMC-*.pl
AMC-perl/AMC/Basic.pm
AMC-perl/AMC/Gui/Main.pm
AMC-perl/AMC/Gui/APropos.glade
Makefile.versions
vars-subs.pl
auto-multiple-choice
net.auto_multiple_choice.amc.desktop
auto-multiple-choice.spec
tex/automultiplechoice.dtx
tex/automultiplechoice.pdf
tex/automultiplechoice.sty
tex/automultiplechoice.amc
tex/automultiplechoice.xy
icons/auto-multiple-choice.xpm
icons/auto-multiple-choice.svgz
icons/auto-multiple-choice-*.png
icons/auto-multiple-choice.png
local/deb-auto-changelog
tests/t/images/images.d/*.eps
I18N/po-clean.pl
tmp
tarballs
.DS_Store
*.log
*.aux
*.cb
*.cb2
*.glo
*.idx
*.toc
__pycache__