Source: auto-multiple-choice
Section: x11
Priority: optional
Maintainer: Alexis Bienvenüe <paamc@passoire.fr>
Build-Depends: debhelper (>= 7), libnetpbm9-dev, libxml-xpath-perl, dblatex, xsltproc, docbook-xsl
Standards-Version: 3.8.0
Homepage: 

Package: auto-multiple-choice
Architecture: any
Depends: ${shlibs:Depends}, texlive-latex-base, latex-xcolor, texlive-generic-recommended, texlive-fonts-extra, perl-base (>= 5.8), libxml-simple-perl, libxml-writer-perl, libxml-dumper-perl, libtext-unaccent-perl, libgtk2-gladexml-perl, libcompress-zlib-perl, imagemagick, netpbm, xpdf-reader, xpdf-utils
Description: Auto Multiple Choice
  Utility to manage multiple choice questionnaires, with optionnaly
  mixed questions and answers, with automatic marking from papers' scans.
