Source: auto-multiple-choice
Section: x11
Priority: optional
Maintainer: Alexis Bienvenüe <pado@passoire.fr>
Build-Depends: debhelper (>= 7), gettext, libnetpbm10-dev, libpoppler-dev,
  libcv-dev, libhighgui-dev,
  libxml-libxml-perl, dblatex, xsltproc, docbook-xml, docbook-xsl,
  texlive-latex-base, latex-xcolor, texlive-generic-recommended,
  texlive-latex-extra, texlive-fonts-extra,
  librsvg2-bin, netpbm
Standards-Version: 3.8.4
Homepage: http://home.gna.org/auto-qcm/
Vcs-Browser: http://svn.gna.org/viewcvs/auto-qcm/
Vcs-Svn: svn://svn.gna.org/svn/auto-qcm/trunk

Package: auto-multiple-choice
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, liblocale-gettext-perl,
  ${perl:Depends}, 
  libxml-simple-perl, libxml-writer-perl,
  libgtk2-gladexml-perl, libcompress-zlib-perl,
  libgraphics-magick-perl, libarchive-zip-perl,
  texlive-latex-base, latex-xcolor, texlive-generic-recommended,
  texlive-latex-extra, texlive-fonts-extra,
  imagemagick (>= 7:6.5.5) | graphicsmagick-imagemagick-compat,
  netpbm, ghostscript, poppler-utils,
  unzip
Recommends: libsys-cpu-perl, libnet-cups-perl (>= 0.60), libopenoffice-oodoc-perl
Suggests: texmaker | kile, openoffice.org-calc
Description: Auto Multiple Choice - multiple choice papers management
 Utility to manage multiple choice questionnaires, with optionnaly
 mixed questions and answers. AMC provides automatic marking from papers'
 scans. Annotated papers are produced. Marks can be exported as a
 OpenOffice.org sheet file.
