[Desktop Entry]
Name=Auto Multiple Choice
Name[fr]=QCM automatique
Type=Application
Exec=auto-multiple-choice
Icon=auto-multiple-choice
Terminal=false
Categories=Education;
GenericName=Auto Multiple Choice
GenericName[fr]=QCM automatique
Comment[fr]=Conception et correction automatique de QCM en LaTeX

